
.boxes{
    display:inline-block;
    div{
        position:relative;

        img{
            width:100%;
            height:auto;
        }
        .nav-btn{
            background: $primary-color;
            text-align:center;
            a{
                width:100%;
                padding:30px;                
                margin:0;
                box-sizing:border-box;
                display:inline-block;
                color:#fff;
                img{
                    display: inline-block;
                    width:auto;
                    height:auto;

                }
            }
        }

    }
    .box{
        background:$secondary-color;
        cursor: pointer;
        h2{            
            font-size: rem-calc(48);
            padding:rem-calc(10) 25px;
            text-align: left;
            margin:0;
            font-family: 'latobold';
            span.number{                
                color:$primary-color;
                @include text-inner-shadow2(0, $oil, $primary-color );

            }
            span.text{
                @include text-inner-shadow(3px, $black,0.3);
            }
        }
        .hover-list{
            display:none;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            padding:20px;
            box-sizing: border-box;
            margin:0;    
            background: $secondary-color;
            border:1px solid $white;
            ul{
                padding:20px;
                li{
                    font-family:'latoregular';
                    font-size:rem-calc(24);
                }
            }
        }
        &:hover .hover-list{
            display: block;
        }

    }
    #logo.box{
        padding:110px 20%;
        background:white;
        img{
            width:100%;
        }
    }
    .top-100{
        top:100px;
    }
    .top-200{
        top:200px;
    }
    #kontakt{
        text-align:center;
        ul{
            text-align:center;
            margin:30px 0 10px 0;
            list-style-type:none;
            li{
                text-indent:0;
                padding:0;
                &:before{
                    content:none;
                }
                a{
                color:$oil;
                font-size:rem-calc(24);
            }
                
            }
            
        }
        .buttons{            
            padding:0;
            text-align:center;
            li{
                display:inline-block;
                margin:0 20px;
                a{
                    color:$oil;
                    font-size:rem-calc(16);

                }
            }
        } 
    }

}