/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-11-26, 16:42:26
    Author     : Qazar
*/

@mixin text-inner-shadow($deep, $color, $power){
    color:$color;
    text-shadow: 1px 1px 1px rgba(255,255,255,$power);
    /*    background-color:$color;
        color: transparent;
        text-shadow: 1px 1px $deep rgba(255,255,255,$power);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        ::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
        ::selection { background: #5af; color: #fff; text-shadow: none; }*/
}
@mixin text-inner-shadow2($deep, $color, $color2){
    /*    background-color:$color;
        color: transparent;
        text-shadow: 0px 0px 2px $color2, 1px 1px 0px #fff;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        ::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
        ::selection { background: #5af; color: #fff; text-shadow: none; }*/
    color:$color2;

}
@mixin text-outer-shadow($deep, $color){
    text-shadow: 0px -1px $deep #9f8510, 0px 1px $deep #fff;
}
body{
    display:block; 
}
.info{
    background:url('../img/photo/grey/bg_fit.jpg');
    background-size:cover;
    h1{
        color:$secondary-color;
        font-family: 'latobold';
        font-size:rem-calc(60);
        line-height:rem-calc(66);
        padding:50px 20px 10px 20px;
        margin:0;
        text-align:left;
        span{
            display: inline-block;
            width:100%;
            &.date{
                color:$primary-color;
            }
            &.upper{
                text-transform: uppercase;
            }
        }

    }

}
.top-menu{
    width:100%;
    position:fixed;
    background: #fff;
    z-index:99999;
    display:inline-block;

    box-sizing:border-box;
    font-family:'latoregular';

    #menu-logo{
        visibility: hidden;
    }

    .total-menu{
        display:none;
        height:100%;        
        position:absolute;
        right:0;
        top:100px;
        background:$secondary-color;
        padding:30px;
        box-sizing: border-box;
        border:1px solid $white;        
        .inner-menu{
            display:inline-block;

        }
        a{

            text-transform: uppercase;
            font-size:28px;
            color:$oil;
        }    
        ul{
            li{
                a{
                    text-transform: none;
                    font-size:24px;
                    &:hover{
                        color:$primary-color;
                    }
                }

            }
        }

    }
    nav{
        display: block;
        margin:0;
        padding:0;
        width:100%;
        font-size:20px;
        div{
            display: block;
            margin:0;
            background:$secondary-color;           
            border-right:1px solid $white;
            border-bottom:1px solid $white;
            a{
                display: inline-block;
                padding:20px 10px;
                text-align:center;
                color:$oil;                
                text-transform: lowercase;
                margin:0;
                box-sizing:border-box;
                width:100%;
                
                &:hover{
                    background:$primary-color url('../img/strefa.png') center top no-repeat;
                    background-size: cover;
                    color:#fff;
                }
            }
            &.logo{               
                background:$white;
                a{
                    background:$white;
                    padding:12px; 
                    &:hover{
                        background: white;
                    }
                }

            }
            &.menu{                
                background:$white; 
                a:hover{
                    background:$primary-color;
                }
                color:$oil;
            }

        }

    }
}


h2{
    font-size:rem-calc(60);
    text-align:right;
    font-family:'latobold',sans-serif;
    margin:0;
    color:rgba(0,0,0,0.5);
    span.text{
        @include text-inner-shadow(3px,$black,0.3);
    }    
    span.number{        
        @include text-inner-shadow(1px,$secondary-color,0);
    }
}

section{
    width:100%;
    display:block;
    box-sizing: border-box;
    text-align:justify;
    margin-bottom:-5px;
    &.yellow{
        background:$primary-color;
        padding:200px 0;
        color:#fff;
        margin:0;        
        p{
            font-size:16px;
        }
        div.columns{
            padding-left:20px;
            padding-right:20px;
        }    
        .img{
            padding:20px;
            padding-top: rem-calc(60*1.5);
            img{
                border:3px solid #fff;
            }
        }
    }
    &.end-sec{
        padding-bottom:0!important;
    }
    &.list{        
        padding:100px 0;
        box-sizing: border-box;
        h2{
            background: $secondary-color;
            text-align:left;
            span.number{
                color:$primary-color;
            }
        }
    }

}
.brands{
    width:80%;
    display:block;
    margin:20px auto 0 auto;

}
.brands-bar{
    width:100%;
    background:$secondary-color;
    padding:10px;
    display:inline-block;
    nav{
        display:block;
        ul{
            display:block;
            margin:0;
            padding:0;
            li{
                margin:0 20px;
                display:block;
                float:left;
                padding-left:20px;                
                list-style-type:disc;
                a{
                    color:$oil;
                    font-weight:bolder;
                    font-size:18px;
                }
            }
        }
    }
}
span.circle{
    display:block;
    border:1px solid $secondary-color;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    font-size:24px;
    color:$primary-color;
    padding:22px 20px;
    height:70px;
    width:70px;
    margin:15px auto;
    box-sizing:border-box;
    font-size:24px;

    &:hover{
        border-color:$primary-color;
        a{
            color:$primary-color;
        }

    }
}

#map-canvas{
    width:100%;
    height:600px;

}
button span{
    font-size:28px;
    padding:0 30px;
}
#footer-info{
    display: none;
    ul{
        text-align:center;
        li{
            font-size:16px;
        }
    }
    p{
        margin-bottom:0;
    }
    a{
        color:$white;
        text-decoration:underline;
    }
    padding-bottom:30px;

}
h3{
    width:100%;
    margin:0;
    padding:20px;
    box-sizing: border-box;
    text-align:center;
    text-transform: uppercase;
    font-family:'latobold';
    background: $primary-color;
    color:#fff;
    &.address{
        background:$secondary-color;
        color:$oil;

        span.number{                
            color:$primary-color;
            @include text-inner-shadow2(0, $oil, $primary-color );

        }
        span.text{
            @include text-inner-shadow(3px, $black,0.3);
        }
    }

}
.bg-dark{
    background:$oil;
}
.bg-yellow{
    background:$primary-color;
}
ul{
    list-style:none;
    padding:0;
    margin:0;
    font-size:22px;
    text-align:left;
    li{
        padding-left:24px;
        text-indent:-24px;
        &:before{
            content: "\e60a";
            font-family:'fitfest';
            color:$primary-color;
            font-size:24;
            line-height:24px;
        }
        a{
            text-transform: none;            
            &:hover{
                color:$primary-color;
            }
        }
    }
}
#clock{
    font-size:rem-calc(48);
    color:$white;
    display:inline-block;
    padding:20px;
    width:100%;
    display: inline-block;
    text-align:center;
    div{
        display:inline-block;
        color:$primary-color;
        text-transform:uppercase;
        font-size:rem-calc(32);
        font-family:'latobold';
        vertical-align:middle;
        span{
            display:block;
            font-size:rem-calc(48);
            margin:30px 0 10px 0;
            background:$white;
            border:2px solid $primary-color;
            padding:20px 3px 5px 3px;
            font-family:"latoregular";
            color:$oil;
            -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,1);
            -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,1);
            box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,1);
        }
    }
    overflow:hidden;

}
.slider{
    margin:0 100px;
    div{
        margin:0 20px;
    }
}
@media screen and (max-width:1300px){
    html{
        font-size:12px;
    }
    .boxes #kontakt .buttons li{
        margin:0 3px!important;
    }
    
}
@media #{$medium-only}{
    html{
        font-size:8px;
    }
    #clock{
        div{
            span{
                color:$secondary-color;
                background: 0;
                border:0;
                padding:0;
                box-shadow: none;
            }
        }
    }
    section{
        margin-bottom: 0;
    }
}
@media #{$small-only}{
    .top-menu nav div a{
        font-size:16px;
    }
    .slider{
        margin:0 20px;
        div{
            margin:0 20px;
        }
        button{
            display:none;
        }
    }
    section.yellow, section.list{
        padding:50px 0;
    }
}
@media screen and (max-width:420px){
    
    .top-menu nav div a{
        font-size:12px;
        padding:14px 2px;
    }
    #clock{
        div{
            font-size:rem-calc(18);
            span{
                font-size:rem-calc(32);
            }
        }
    }
    .info h1{
        padding:20px;
        font-size:rem-calc(36);
        line-height: rem-calc(38);
    }
    .boxes #logo.box{
        padding:50px!important;
    }
}


