/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-11-26, 16:42:26
    Author     : Qazar
*/

@mixin text-inner-shadow($deep, $color){
    text-shadow: $deep, $deep, 3px, $primary-color, 0 0 0 $color, $deep, $deep, 3px, $primary-color, 1px 1px 1px #fff;
    ::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
    ::selection { background: #5af; color: #fff; text-shadow: none; }
}

.top-menu{
    width:100%;
    position:fixed;
    background: #fff;
    z-index:99999;
    display:inline-block;
    font-size:rem-calc(24);
    box-sizing:border-box;


    ul,nav{
        display: block;
        margin:0;
        padding:0;
        width:100%;
        li{
            display: block;
            margin:0;
            width:16%;
            background:$secondary-color;
            box-sizing:border-box;
            float:left;
            border:1px solid #fff;
            a{
                display: inline-block;
                padding:rem-calc(30) rem-calc(10);
                text-align:center;
                color:$oil;
                font-weight: bold;
                text-transform: lowercase;
                margin:0;
                box-sizing:border-box;
                width:100%;
                &:hover{
                    background:$primary-color;
                    color:#fff;
                }
            }
            &.logo{
                width:40%;
                background:$white;
                a{

                    padding:rem-calc(20); 
                }


                   padding:rem-calc(20); 
                }

            }
            &.menu{
                width:9%;
                background:$white;
            }
        }
    }


h2{
    font-size:rem-calc(60);
    text-align:right;
    font-family:'latobold',sans-serif;
    margin:0;
    color:rgba(0,0,0,0.5);
    @include text-inner-shadow(3px,#09386d);
    span{
        color:$secondary-color;
    }
}

section{
    width:100%;
    display:inline-block;
    box-sizing: border-box;
    text-align:justify;

    &.yellow{
        background:$primary-color;

        padding:200px 20px;
        color:#fff;

        .img{
            padding:20px;
            padding-top: rem-calc(60*1.5);
            img{
                border:3px solid #fff;
            }
        }
    }

}